

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  /* Shared style */
  
  .btn-primary{
      background-color: #E6533C;
      font-weight: 300;
      color: white;
      padding: 8px 20px ;
      border-radius: 46px;
      border: none;
  }
  .btn-primary2{
      background-color:black;
      font-weight: 300;
      color: white;
      padding: 8px 20px ;
      border-radius: 46px;
      border-color: white;
  }
  
  
  .dark-2{
      color: white;
  }
  .dark-3{
      color: white;
  }
  /* Nav Styles */
  
  
  
  nav{
      display: flex;  
      align-items: center; 
      justify-content: space-between;
      margin: 0px 200px;
  
  }
  .nav-title{
    font-weight: 800;  
    font-size: 36px ;
    color: #E6533C;
  }
  nav ul{
      display: flex;
      align-items: center;
      
  }
  
  nav ul li {
      list-style: none;
      margin-right: 12px;
      
  }
  
  nav li a{
      text-decoration: none;
      font-size: 16px;
  }
   body{
      background-color: black;
   }
   /* Banner  */
   .banner-description{
      color: #777777;
   }
   .dark-1{
      font-weight: bold;
      font-size: 78px;
      color: white;
   }
   
  .banner{
      display: flex;
      justify-content: space-between;
      margin: 0 35px 0 230px;
  }
  .banner-content{
      max-width:599.05px ;
  }
  .shape-text{
      font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
  /* main  */
  section{
  background-color: black;
  }
  .section-title{
      font-size: 48px;
      font-weight: bold;
      color:#FFFFFF ;
  }
  .section-description{
    font-size: 14px;
    color:#777777;
    margin-top: -40px;
    margin-bottom: 70px;
  }
  main{
      max-width: 1044px;
      margin: 0 auto;
  }
  /* habit */
  .habit{
  border-radius: none;
  text-align: center;
  margin: 30px 0px;
  }
  .habit-items{
      display: flex;
      justify-content: space-around;
      gap: 40px;
  }
  .item-title{
      font-weight: 400;
      font-size: 18px;
      color:#FFFFFF;
  }
  .item-description{
      font-weight: 600;
      color:#777777; 
      margin-bottom: 5px;
  }
  
  .circle{
      border-radius: 50%;
  
  }
  /* run */
  .section-titles{
      font-size: 48px;
      font-weight: bold;
      color:#FFFFFF ;
      margin-top: 20px;
      margin-left: 20px;
  }
  .item-descriptions{
  
      font-weight: 600;
      color: #777777;
      margin-top: 20px;
      margin-left: 20px;
  }
  .btn-primary{
      margin-top: 20px;
      margin-left: 20px;
      margin-bottom: 15px;
  }
  
  .image{
      width: 90%;
      height: 100%;
      border-radius: 18px;
      margin-right: 10px;
  
  }
  .run{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #222222;
       max-width: 100%;
       margin-top: 80px;
  }
  /* BMI Section  */
  .text-center{
      text-align: center;
  }
  /* BMI calculator */
  
  
  .BMI-Calculator-Chart{
      font-size: 18px;
      font-weight: bold;
      color:#FFFFFF ;
  }
  .section-five{
      background-color: #222222;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
       max-width: 100%;
  }
  .calculator{
     background-color:  #222 ;
     color: #fff;
  }
  .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
  }
  .bmi-chart, .calculator {
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      border-radius: 5px;
  }
  h1, h2 {
      text-align: center;
  }
  table {
      width: 100%;
      border-collapse: collapse;
  }
  th, td {
      padding: 10px;
      text-align: center;
      border: 1px solid #ddd;
  }
  form {
      display: grid;
      gap: 5px;
  }
  
  label {
      display: block;
  }
  
  input, select, button {
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 10px;
  }
  button {
      background-color: ; 
      color: #fff;
      cursor: pointer;
      background-color: #E6533C;
      font-weight: 600;
      color: white;
      padding: 10px 20px ;
      border-radius: 46px;
      border: none;
  }
  
  /*  Meet our team  */
  .meet-background{
      background-color: #222222;
      border-radius: 20px;
      max-width: 100%;
       margin-top: 80px;
  }
  .meet{
      font-size: 48px;
      font-weight: bold;
      color:#FFFFFF ;
      
  }
  .meet-prg{
      font-size: 14px;
    color:#777777;
    margin-top: -40px;
    margin-bottom: 80px;
  }
  .h4{
      font-weight: 400;
      font-size: 20px;
      color: #FFFFFF;
  
  }
  .p{
      font-size: 14px;
      color: #DDDDDD;
  }
  img{
      width: 100%;
      height: 70%;
  }
  .row{
      display: grid;
      height: 400px;
      
      gap: 20px;
      margin-bottom: 5px;
  }
  .line{
      justify-items: center;
      display: grid;
      grid-template-columns: repeat(3,3fr);
      padding: 18px 36px;
  }
  
  
  .team-members{
      display: flex;
      justify-content: space-around;
      gap: 25px;
      margin-bottom: 55px;
  }
  .team-members div{
      width: 33%;
  }
  .team-members img{
      height: 300px;
      border-radius: 10px;
  }
  .team-member-details {
      margin-top: -70px;
      margin-left: 20px;
      width: 200px !important;
      }
  .team-member-details h4{
      padding: 0px;
      margin: 0px;
  }
  .team-member-details p{
      padding: 0px;
      margin: 0px;
  }
  
  /* exercise section */
  .exercise-section{
      margin-bottom: 100px;
  }
  .exercise-title{
      margin: 100px 0px;
      color: white;
  }
  .exercise-members{
      display: flex;
      justify-content: space-around;
  }
  .exercise-members div{
      width: 33.33%;
  }
  .exercise-members img{
      height: 200px;
  }
  .exercise-member-details {
      margin-top: -45px;
      margin-left: 20px;
      width: 200px !important;
      }
  .exercise-member-details h4{
      padding: 0px;
      margin: 0px;
  }
  .exercise-member-details p{
      padding: 0px;
      margin: 0px;
  }
  
    /* Footer */
    footer{
      margin-top: 88px;
    }
    .gray{
      background-color: #222222;
      
    }
    .fitness{
      font-weight: 800;  
    font-size: 70px ;
    color: #E6533C;
    margin-top: -5px;
    
  }
    .get{
      color: #FFFFFF;
      font-size: 2rem;
      font-weight: 400;
      
    }
  .footer-pg{
      color:#777777
  }
  .step{
      justify-items: center;
      display: grid ;
      grid-template-columns: repeat(3,1fr);
      padding: 3.75rem 11.875rem;
  }
  hr{
      width:66.25rem;
  }
  .all{
      margin-top: 2.5rem;
      text-align: center;
      color: rgba(255, 255, 255, 0.5);
      font-size: 1.25rem ;
      font-weight: 400;
      margin-bottom: 1.5rem ;
      padding: 35px 52px;
  }